/* 전체 화면에 카드가 수직/수평 중앙 정렬되도록 설정 */
.search-card-container {
    display: flex;
    justify-content: center;   /* 수평 중앙 */
    align-items: center;       /* 수직 중앙 */
    height: 100vh;            /* 뷰포트 전체 높이 사용 */
    margin: 0;
    /* background-color: #fdfdfd; */
  }
  
  /* 가운데 카드 */
  .card {
    width: 300px;              /* 카드 너비 */
    min-height: 400px;         /* 카드 최소 높이 */
    background-color: var(--background-color);
    border-radius: 12px;        /* 모서리 둥글게 */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    
    /* 내용물(로그인 텍스트) 중앙 정렬 */
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  
  .title{
    font-family: 'GoryeongStrawberry';
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    
    position: relative;
    top:-150px;
  }

  /* 사용자 입력 받는 창 */
  .search-box{
    flex: 1;
    /* 배경 이미지 */
    background-image: src('../images/searchBackground.png');
    background-size: contain; /* 이미지 크기에 맞게 설정 */
    background-repeat: no-repeat; /* 이미지 반복 없도록 설정 */
    background-position: center;  /* 중앙 정렬 */

    /* width: 80%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px; */
  }