:root {
    --main-color: #D09B67;
    --point-color: #6CC25B;
    --background-color: #F9ECCC;
  
    --font-main-color: #1D120C;
    --font-point-color: #51423E;

    --secondary-card-width: 390px;
    --secondary-card-height: 520px;
  }
  